@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), sans-serif;
}

.text-video-mask {
  position: relative;
  display: inline-block;
}

.video-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask: linear-gradient(black, black);
  -webkit-mask-clip: text;
  mask: linear-gradient(black, black);
  mask-clip: text;
}

.mask-text {
  position: relative;
  z-index: 10;
  color: transparent;
  -webkit-text-stroke: 1px transparent;
  font-weight: bold;
}
